services:
  exitslipservice.api:
    image: ${DOCKER_REGISTRY-}exitslipserviceapi
    build:
      context: .
      dockerfile: ExitslipService/ExitslipService.Api/Dockerfile

  feedbackservice.api:
    image: ${DOCKER_REGISTRY-}feedbackserviceapi
    build:
      context: .
      dockerfile: FeedbackService/FeedbackService.Api/Dockerfile

  apigateway:
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile

  sql-serverServices:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04

  sql-serverGateway:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04

  fakesmtpserver:
    image: ${DOCKER_REGISTRY-}fakesmtpserver
    build:
      context: .
      dockerfile: FakeSmtpServer/Dockerfile

volumes:
  sql-data-services:
  sql-data-gateway:
