services:
  apigateway:
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
 
  dummydb.api:
    image: ${DOCKER_REGISTRY-}dummydbapi
    build:
      context: .
      dockerfile: DummyDb/DummyDb.Api/Dockerfile

  exitslipservice.api:
    image: ${DOCKER_REGISTRY-}exitslipserviceapi
    build:
      context: .
      dockerfile: ExitslipService/ExitslipService.Api/Dockerfile

  feedbackservice.api:
    image: ${DOCKER_REGISTRY-}feedbackserviceapi
    build:
      context: .
      dockerfile: FeedbackService/FeedbackService.Api/Dockerfile

  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04

